<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Java OAuth 2.0 Tutorial - Homepage</title>
  </head>
  <body>
  <h1 th:text="'Welcome, ' + ${email} + '!'"></h1>
  <ul>
    <li th:if="${email}" th:text="'Email : ' + ${email}"></li>
    <li th:if="${firstName}" th:text="'First name: ' + ${firstName}"></li>
    <li th:if="${lastName}" th:text="'Last name: ' + ${lastName}"></li>
    <li th:if="${group}" th:text="'Group : ' + ${group}"></li>
    
  </ul>
</body>
</html>